extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In

        // register form
        form(method='POST' action='/api/users/login')
          div.form-group
            label(for='email') email:
            input#email.form-control(type='text', placeholder='Enter your email' name='email')
          div.form-group
            label(for='Password') password:
            input#password.form-control(type='password' name='password')
          button.btn.btn-primary(type='submit') Log in
