.App {
  display: flex;
  justify-content: flex-start;
}
.side-column{
  display: block;
  flex-direction: column;
  background-color: #7702fa;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;
  width: 3em;
  min-height: 100vh;
}
.side-login{
  display: flex;
  flex-direction: column;
  background-color: #7702fa;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;
  width: 12em;
  min-height: 100vh;
}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 30em;
}
.home-container{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 1em;
  width: 100%;
  height: 100%;
}
.top-bar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.login-button{
  background-color: #895df1;
  color: #FFFFFF;
  border-radius: 1em;
  font-family: 'Verdana';
  align-self: flex-end;
  font-size: 1em;
  padding: 0.5em;
}
.login-form{
  align-self: center;
}

.profile-pic{
  display: block;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.text-color{
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #7702fa;
}
.header-text{
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #7702fa;
  margin-top: auto;
  margin-bottom: auto;
}
.logo-container{
  margin-left: auto;
}
.logo{
  display:block;
  width: 5em;
  height: 5em;
}
.leagues-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
  padding-right: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-end: 0em;
  margin-inline-start: 0em;
  width: 100%;
  height: 100%;
  align-content: space-evenly;
}
.league{
  display: inline-block;
  background-color: #E5E8E8;
  padding-top: 1em;
  width: 12em;
  height: 5em;
  margin: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 1em;
  text-align: center;
}
.email-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
}
.email-invite{
  background-color: #E5E8E8;
  color: #7702fa;
  width: 13em;
  height: 3em;
  margin: 0.5em;
  border-radius: 1em;
  text-align: center;
}
.save-button{
  background-color: #7702fa;
  color: #FFFFFF;
  width: 6em;
  height: 2em;
  font-size: 1em;
  border-radius: 2em;
  font-weight: bold;
  margin-left: auto;
  margin-right: 5em;
  margin-top: 2em;
}
.league-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #E5E8E8;
  border-radius: 2em;
  padding: 0.25em;
}
.league-detail{
  color: #7702fa;
  margin: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
}
.league-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
  margin-left: 1em;
  color: #7702fa;
}
.league-column{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
