.App {
  display: flex;
  justify-content: flex-start;
}
.side-column{
  display: flex;
  flex-direction: column;
  background-color: #7702fa;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;
  width: 3em;
  min-height: 100vh;
}
.side-login{
  display: flex;
  flex-direction: column;
  background-color: #7702fa;
  align-items: stretch;
  padding-left: 1em;
  padding-right: 1em;
  width: 12em;
  min-height: 100vh;
}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 30em;
}
.home-container{
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 1em;
}
.login-button{
  background-color: #895df1;
  color: #FFFFFF;
  border-radius: 1em;
  font-family: 'Verdana';
  align-self: flex-end;
  font-size: 1em;
  padding: 0.5em;
}
.login-form{
  align-self: center;
}
.menu{
  flex-grow: 1;
}
.footer{
  padding-bottom: 3em;
}
.text-color{
  font-family: 'Verdana';
  color: #895df1;
}
.profile-pic{
  display: block;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  padding-right: 0.5em;
}
.header-text{
  font-family: 'mr-eaves-xl-modern', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #7702fa;
}
